/* CSS for Team Score document */

.o-table {
    font-family: sans-serif;
    border: 1px solid black;
	border-collapse: collapse;
}

.o-td {
    padding: 0.2em 1em 0.2em 1em;
    border: 1px solid black;
    text-align: right;
}

.o-l {
    text-align: left;
}

.o-th {
    text-align: center;
}

.o-th-0 {
    background: #ccffcc;
}

.o-th-1 {
    background: #ffcccc;
}

.o-th-2 {
    background: #ccccff;
}

.o-th-total {
    background: #ccffff;
}
